.champions-lol-28.aatrox { background-position:-0px -0px; }
.champions-lol-28.ahri { background-position:-28px -0px; }
.champions-lol-28.akali { background-position:-56px -0px; }
.champions-lol-28.alistar { background-position:-84px -0px; }
.champions-lol-28.amumu { background-position:-112px -0px; }
.champions-lol-28.anivia { background-position:-140px -0px; }
.champions-lol-28.annie { background-position:-168px -0px; }
.champions-lol-28.ashe { background-position:-196px -0px; }
.champions-lol-28.blitzcrank { background-position:-224px -0px; }
.champions-lol-28.brand { background-position:-252px -0px; }
.champions-lol-28.caitlyn { background-position:-0px -28px; }
.champions-lol-28.cassiopeia { background-position:-28px -28px; }
.champions-lol-28.chogath { background-position:-56px -28px; }
.champions-lol-28.corki { background-position:-84px -28px; }
.champions-lol-28.darius { background-position:-112px -28px; }
.champions-lol-28.diana { background-position:-140px -28px; }
.champions-lol-28.draven { background-position:-168px -28px; }
.champions-lol-28.dr-mundo { background-position:-196px -28px; }
.champions-lol-28.elise { background-position:-224px -28px; }
.champions-lol-28.evelynn { background-position:-252px -28px; }
.champions-lol-28.ezreal { background-position:-0px -56px; }
.champions-lol-28.fiddlesticks { background-position:-28px -56px; }
.champions-lol-28.fiora { background-position:-56px -56px; }
.champions-lol-28.fizz { background-position:-84px -56px; }
.champions-lol-28.galio { background-position:-112px -56px; }
.champions-lol-28.gangplank { background-position:-140px -56px; }
.champions-lol-28.garen { background-position:-168px -56px; }
.champions-lol-28.gragas { background-position:-196px -56px; }
.champions-lol-28.graves { background-position:-224px -56px; }
.champions-lol-28.hecarim { background-position:-252px -56px; }
.champions-lol-28.heimerdinger { background-position:-0px -84px; }
.champions-lol-28.irelia { background-position:-28px -84px; }
.champions-lol-28.janna { background-position:-56px -84px; }
.champions-lol-28.jarvan-iv { background-position:-84px -84px; }
.champions-lol-28.jax { background-position:-112px -84px; }
.champions-lol-28.jayce { background-position:-140px -84px; }
.champions-lol-28.karma { background-position:-168px -84px; }
.champions-lol-28.karthus { background-position:-196px -84px; }
.champions-lol-28.kassadin { background-position:-224px -84px; }
.champions-lol-28.katarina { background-position:-252px -84px; }
.champions-lol-28.kayle { background-position:-0px -112px; }
.champions-lol-28.kennen { background-position:-28px -112px; }
.champions-lol-28.kogmaw { background-position:-56px -112px; }
.champions-lol-28.leblanc { background-position:-84px -112px; }
.champions-lol-28.lee-sin { background-position:-112px -112px; }
.champions-lol-28.leona { background-position:-140px -112px; }
.champions-lol-28.lissandra { background-position:-168px -112px; }
.champions-lol-28.lucian { background-position:-196px -112px; }
.champions-lol-28.lulu { background-position:-224px -112px; }
.champions-lol-28.lux { background-position:-252px -112px; }
.champions-lol-28.malphite { background-position:-0px -140px; }
.champions-lol-28.malzahar { background-position:-28px -140px; }
.champions-lol-28.maokai { background-position:-56px -140px; }
.champions-lol-28.master-yi { background-position:-84px -140px; }
.champions-lol-28.miss-fortune { background-position:-112px -140px; }
.champions-lol-28.wukong { background-position:-140px -140px; }
.champions-lol-28.mordekaiser { background-position:-168px -140px; }
.champions-lol-28.morgana { background-position:-196px -140px; }
.champions-lol-28.nami { background-position:-224px -140px; }
.champions-lol-28.nasus { background-position:-252px -140px; }
.champions-lol-28.nautilus { background-position:-0px -168px; }
.champions-lol-28.nidalee { background-position:-28px -168px; }
.champions-lol-28.nocturne { background-position:-56px -168px; }
.champions-lol-28.nunu { background-position:-84px -168px; }
.champions-lol-28.olaf { background-position:-112px -168px; }
.champions-lol-28.orianna { background-position:-140px -168px; }
.champions-lol-28.pantheon { background-position:-168px -168px; }
.champions-lol-28.poppy { background-position:-196px -168px; }
.champions-lol-28.quinn { background-position:-224px -168px; }
.champions-lol-28.rammus { background-position:-252px -168px; }
.champions-lol-28.renekton { background-position:-0px -196px; }
.champions-lol-28.rengar { background-position:-28px -196px; }
.champions-lol-28.riven { background-position:-56px -196px; }
.champions-lol-28.rumble { background-position:-84px -196px; }
.champions-lol-28.ryze { background-position:-112px -196px; }
.champions-lol-28.sejuani { background-position:-140px -196px; }
.champions-lol-28.shaco { background-position:-168px -196px; }
.champions-lol-28.shen { background-position:-196px -196px; }
.champions-lol-28.shyvana { background-position:-224px -196px; }
.champions-lol-28.singed { background-position:-252px -196px; }
.champions-lol-28.sion { background-position:-0px -224px; }
.champions-lol-28.sivir { background-position:-28px -224px; }
.champions-lol-28.skarner { background-position:-56px -224px; }
.champions-lol-28.sona { background-position:-84px -224px; }
.champions-lol-28.soraka { background-position:-112px -224px; }
.champions-lol-28.swain { background-position:-140px -224px; }
.champions-lol-28.syndra { background-position:-168px -224px; }
.champions-lol-28.talon { background-position:-196px -224px; }
.champions-lol-28.taric { background-position:-224px -224px; }
.champions-lol-28.teemo { background-position:-252px -224px; }
.champions-lol-28.thresh { background-position:-0px -252px; }
.champions-lol-28.tristana { background-position:-28px -252px; }
.champions-lol-28.trundle { background-position:-56px -252px; }
.champions-lol-28.tryndamere { background-position:-84px -252px; }
.champions-lol-28.twisted-fate { background-position:-112px -252px; }
.champions-lol-28.twitch { background-position:-140px -252px; }
.champions-lol-28.udyr { background-position:-168px -252px; }
.champions-lol-28.urgot { background-position:-196px -252px; }
.champions-lol-28.varus { background-position:-224px -252px; }
.champions-lol-28.vayne { background-position:-252px -252px; }
.champions-lol-28.veigar { background-position:-0px -280px; }
.champions-lol-28.vi { background-position:-28px -280px; }
.champions-lol-28.viktor { background-position:-56px -280px; }
.champions-lol-28.vladimir { background-position:-84px -280px; }
.champions-lol-28.volibear { background-position:-112px -280px; }
.champions-lol-28.warwick { background-position:-140px -280px; }
.champions-lol-28.xerath { background-position:-168px -280px; }
.champions-lol-28.xin-zhao { background-position:-196px -280px; }
.champions-lol-28.yorick { background-position:-224px -280px; }
.champions-lol-28.zac { background-position:-252px -280px; }
.champions-lol-28.zed { background-position:-0px -308px; }
.champions-lol-28.ziggs { background-position:-28px -308px; }
.champions-lol-28.zilean { background-position:-56px -308px; }
.champions-lol-28.zyra { background-position:-84px -308px; }
.champions-lol-28.jinx { background-position:-112px -308px; }
.champions-lol-28.khazix { background-position:-140px -308px; }
.champions-lol-28.yasuo { background-position:-168px -308px; }
.champions-lol-28.velkoz { background-position:-196px -308px; }
.champions-lol-28.braum { background-position:-224px -308px; }
.champions-lol-28.gnar { background-position:-252px -308px; }
.champions-lol-28.azir { background-position:-0px -336px; }
.champions-lol-28.kalista { background-position:-28px -336px; }
.champions-lol-28.reksai { background-position:-56px -336px; }
.champions-lol-28.bard { background-position:-84px -336px; }
.champions-lol-28.ekko { background-position:-112px -336px; }
.champions-lol-28.tahm-kench { background-position:-140px -336px; }
.champions-lol-28.kindred { background-position:-168px -336px; }
.champions-lol-28.illaoi { background-position:-196px -336px; }
.champions-lol-28.jhin { background-position:-224px -336px; }
.champions-lol-28.aurelion-sol { background-position:-252px -336px; }
.champions-lol-28.taliyah { background-position:-0px -364px; }
.champions-lol-28 { width:28px; height:28px; background-image:url(http://media-noxia.cursecdn.com/avatars/sprites/champions-lol-28/champions-lol-28.Jpeg?636033349421774366) }
