.container {
	width: 400px;
	height: 400px;
}

.champion {
	width: 50px;
}

#chartMostPlayedChampions {
	height: 500px !important;
}

.highcharts-container {
	overflow: visible !important;
}

.participants {
	display: block;
}

#friendly-players,
#ennemy-players {
	display: inline-block;
}